---
title: Resume for a great Qalandar
---
<div>
  <img class='left' src='img/1.jpg' alt='Whole thing'/>
  <div class='left padded-left'>
    <h1>Mohammad Asif</h1>
    <div>
      <strong>Origin:</strong>
      <span>Kabul</span>
    </div>
    <div>
      <strong>Mohammad Asif received B.Sc in Information and Communication Technology with Specialization in Telecommunication Engineering from ICT Institute of Kabul University, Kabul – Afghanistan. Currently, he is studying MSc in System Engineering and Informatics at Czech University of Life Sciences and doing research on a topic of “Self-optimization of Neighbor Cell List for two-tier Networks” at 5G Research Lab of Czech Technical University, Prague – Czech Republic. He was on internship and later on as a Radio Communication Engineer at HUAWEI Technologies – Afghanistan office for 3 years. His main research interests cover Mobility Management and Radio Recourse management for future mobile networks.:</strong>
      <span>work hard and building strong social relations</span>
    </div>
    <div>
      <strong>Expectations for the future is to be a talented researcher:</strong>
      <span>Better enjoy the life </span>
    </div>
    <div>
      <strong>I don't like block teaching:</strong>
      <p>Kabul is the capital of the Islamic Republic of Afghanistan as well as the largest city of Afghanistan, located in the eastern section of the country. According to a 2012 estimate, the population of the city was around which includes all the major ethnic groups.It is the 64th largest and the 5th fastest growing city in the world.</p>
    </div>
  </div>
</div>
<div class='row'>
  <img src='img/2.jpg'/>
  <img src='img/3.jpg'/>
</div>
